.wrapper{
    min-height: 100vh;
}

.line-divider {
    width: 2px; 
    border-top: 1px solid black;
    background-color: gray; 
}

.highlight{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    color: var(--bs-primary);
    padding-left: 10px;
    padding-right: 10px;
}

.highlight::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--bs-primary);
}